{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Frequently Asked Questions</title>
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
  <div class="nav-bar">
    <ul class="nav">
      <li class="nav-item"><a class="active" href="/">Home</a></li>
      <li class="nav-item"><a href="/posts/">Posts</a></li>
      <li class="nav-item" style="float:right"><a href="/admin/">Admin</a></li>
    </ul>
  </div>
  <div class="container mt-4">
    <h1>Frequently Asked Questions</h1>

    <form method="GET" action="{% url 'search' %}">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search articles and FAQs...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>


    <div class="mt-2">
      {% for category in categories %}
      <div class="accordion">
        <h2 class="accordion-toggle" data-target="{{ category.slug }}">{{ category.name }}</h2>
        <div class="accordion-content" id="{{ category.slug }}">
          {% for faq in faqs %}
          {% if faq.category == category %}
          <h3 class="accordion-toggle" data-target="ss-{{ faq.id }}">{{ faq.question }}</h3>
          <div class="accordion-content" id="ss-{{ faq.id }}">
            <h3>{{ faq.question }}</h3>

            <p>{{ faq.answer }}</p>
          </div>
          {% endif %}
          {% endfor %}

          {% for article in articles %}
          {% if article.category == category %}
          <h2 class="accordion-toggle" data-target="{{ article.slug }}">{{ article.title }}</h2>
          <div class="accordion-content" id="{{ article.slug }}">
            <h3><a href="{% url 'view_articles_with_slug' article_slug=article.slug %}">{{ article.title }}</a></h3>

            <p>{{ article.content|safe }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="{% static 'script.js' %}"></script>
</body>

</html>